In [7]:
import pandas as pd
import requests
from io import StringIO

In [ ]:
!pip uninstall notebook

Found existing installation: notebook 5.2.2
Uninstalling notebook-5.2.2:
  Would remove:
    /Users/lucas_botella/Documents/anaconda3/bin/jupyter-bundlerextension
    /Users/lucas_botella/Documents/anaconda3/bin/jupyter-nbextension
    /Users/lucas_botella/Documents/anaconda3/bin/jupyter-notebook
    /Users/lucas_botella/Documents/anaconda3/bin/jupyter-serverextension
    /Users/lucas_botella/Documents/anaconda3/lib/python3.8/site-packages/notebook-5.2.2.dist-info/*
    /Users/lucas_botella/Documents/anaconda3/lib/python3.8/site-packages/notebook/*
Proceed (y/n)?

In [28]:
orig_url='https://drive.google.com/file/d/1pGtz5rNW0tnDejQy8LijyZp1PkLlV9EE/view?usp=sharing'

file_id = orig_url.split('/')[-2]
dwn_url='https://drive.google.com/uc?export=download&id=' + file_id
url = requests.get(dwn_url).text
csv_raw = StringIO(url)
dfs = pd.read_csv(csv_raw)
dfs.head()

        Entity Code        Date  grocery_and_pharmacy
0  Afghanistan  AFG  2020-02-17                 4.000
1  Afghanistan  AFG  2020-02-18                 4.250
2  Afghanistan  AFG  2020-02-19                 4.000
3  Afghanistan  AFG  2020-02-20                 3.833
4  Afghanistan  AFG  2020-02-21                 4.571

In [10]:
df1 = pd.read_csv('workplace-visitors-covid.csv')

Requirement already up-to-date: ipython in /Users/lucas_botella/Documents/anaconda3/lib/python3.8/site-packages (7.20.0)
Requirement already satisfied, skipping upgrade: pexpect>4.3; sys_platform != "win32" in /Users/lucas_botella/Documents/anaconda3/lib/python3.8/site-packages (from ipython) (4.8.0)
Requirement already satisfied, skipping upgrade: jedi>=0.16 in /Users/lucas_botella/Documents/anaconda3/lib/python3.8/site-packages (from ipython) (0.17.1)
Requirement already satisfied, skipping upgrade: decorator in /Users/lucas_botella/Documents/anaconda3/lib/python3.8/site-packages (from ipython) (4.4.2)
Requirement already satisfied, skipping upgrade: pickleshare in /Users/lucas_botella/Documents/anaconda3/lib/python3.8/site-packages (from ipython) (0.7.5)
Requirement already satisfied, skipping upgrade: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/lucas_botella/Documents/anaconda3/lib/python3.8/site-packages (from ipython) (3.0.14)
Requirement already satisfied, skipping upgrade: backcall in /Users/lucas_botella/Documents/anaconda3/lib/python3.8/site-packages (from ipython) (0.2.0)
Requirement already satisfied, skipping upgrade: appnope; sys_platform == "darwin" in /Users/lucas_botella/Documents/anaconda3/lib/python3.8/site-packages (from ipython) (0.1.0)
Requirement already satisfied, skipping upgrade: setuptools>=18.5 in /Users/lucas_botella/Documents/anaconda3/lib/python3.8/site-packages (from ipython) (49.2.0.post20200714)
Requirement already satisfied, skipping upgrade: traitlets>=4.2 in /Users/lucas_botella/Documents/anaconda3/lib/python3.8/site-packages (from ipython) (4.3.3)
Requirement already satisfied, skipping upgrade: pygments in /Users/lucas_botella/Documents/anaconda3/lib/python3.8/site-packages (from ipython) (2.6.1)
Requirement already satisfied, skipping upgrade: ptyprocess>=0.5 in /Users/lucas_botella/Documents/anaconda3/lib/python3.8/site-packages (from pexpect>4.3; sys_platform != "win32"->ipython) (0.6.0)
Requirement already satisfied, skipping upgrade: parso<0.8.0,>=0.7.0 in /Users/lucas_botella/Documents/anaconda3/lib/python3.8/site-packages (from jedi>=0.16->ipython) (0.7.0)
Requirement already satisfied, skipping upgrade: wcwidth in /Users/lucas_botella/Documents/anaconda3/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython) (0.2.5)
Requirement already satisfied, skipping upgrade: ipython-genutils in /Users/lucas_botella/Documents/anaconda3/lib/python3.8/site-packages (from traitlets>=4.2->ipython) (0.2.0)
Requirement already satisfied, skipping upgrade: six in /Users/lucas_botella/Documents/anaconda3/lib/python3.8/site-packages (from traitlets>=4.2->ipython) (1.12.0)

In [12]:
df1 = pd.read_csv('/Users/lucas_botella/Desktop/TFM/data/changes-visitors-covid.csv')
df2 = pd.read_csv('/Users/lucas_botella/Desktop/TFM/data/change-visitors-grocery-stores.csv')

In [21]:
df1

,Entity,Code,Date,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,Afghanistan,AFG,2020-02-17,0.000,4.000,1.000,5.667,-6.333,1.333
1,Afghanistan,AFG,2020-02-18,0.750,4.250,1.500,6.500,-3.250,0.750
2,Afghanistan,AFG,2020-02-19,0.400,4.000,1.400,5.200,-1.600,0.800
3,Afghanistan,AFG,2020-02-20,0.000,3.833,1.000,5.000,-0.333,0.833
4,Afghanistan,AFG,2020-02-21,0.000,4.571,1.429,5.286,0.571,0.714
...,...,...,...,...,...,...,...,...,...
45313,Zimbabwe,ZWE,2021-01-22,-40.000,-22.143,-17.143,-49.857,-38.286,21.714
45314,Zimbabwe,ZWE,2021-01-23,-39.429,-21.429,-16.714,-49.714,-37.429,22.000
45315,Zimbabwe,ZWE,2021-01-24,-38.714,-20.429,-15.714,-49.571,-36.857,22.143
45316,Zimbabwe,ZWE,2021-01-25,-37.857,-19.429,-14.571,-48.714,-36.143,22.143
45317,Zimbabwe,ZWE,2021-01-26,-37.000,-18.429,-14.143,-47.857,-35.286,22.143

In [15]:
df2.head()

        Entity Code        Date  grocery_and_pharmacy
0  Afghanistan  AFG  2020-02-17                 4.000
1  Afghanistan  AFG  2020-02-18                 4.250
2  Afghanistan  AFG  2020-02-19                 4.000
3  Afghanistan  AFG  2020-02-20                 3.833
4  Afghanistan  AFG  2020-02-21                 4.571

In [18]:
df_merge=df1.merge(df2, left_on = ['Entity','Code', 'Date'], right_on = ['Entity','Code', 'Date'])

In [19]:
df_merge

,Entity,Code,Date,retail_and_recreation,grocery_and_pharmacy_x,parks,transit_stations,workplaces,residential,grocery_and_pharmacy_y
0,Afghanistan,AFG,2020-02-17,0.000,4.000,1.000,5.667,-6.333,1.333,4.000
1,Afghanistan,AFG,2020-02-18,0.750,4.250,1.500,6.500,-3.250,0.750,4.250
2,Afghanistan,AFG,2020-02-19,0.400,4.000,1.400,5.200,-1.600,0.800,4.000
3,Afghanistan,AFG,2020-02-20,0.000,3.833,1.000,5.000,-0.333,0.833,3.833
4,Afghanistan,AFG,2020-02-21,0.000,4.571,1.429,5.286,0.571,0.714,4.571
...,...,...,...,...,...,...,...,...,...,...
44514,Zimbabwe,ZWE,2021-01-22,-40.000,-22.143,-17.143,-49.857,-38.286,21.714,-22.143
44515,Zimbabwe,ZWE,2021-01-23,-39.429,-21.429,-16.714,-49.714,-37.429,22.000,-21.429
44516,Zimbabwe,ZWE,2021-01-24,-38.714,-20.429,-15.714,-49.571,-36.857,22.143,-20.429
44517,Zimbabwe,ZWE,2021-01-25,-37.857,-19.429,-14.571,-48.714,-36.143,22.143,-19.429
44518,Zimbabwe,ZWE,2021-01-26,-37.000,-18.429,-14.143,-47.857,-35.286,22.143,-18.429

In [22]:
import glob

files = []

for filepath in glob.iglob('/Users/lucas_botella/Desktop/TFM/data/*.csv'):
    
    files.append(filepath)

for i in range(len(files)):
    
    df_aux = pd.read_csv(files[i])
    df_merge=df_merge.merge(df_aux, left_on = ['Entity','Code', 'Date'], right_on = ['Entity','Code', 'Date'])

In [23]:
df_merge

,Entity,Code,Date,retail_and_recreation_x,grocery_and_pharmacy_x,parks_x,transit_stations_x,workplaces_x,residential_x,grocery_and_pharmacy_y,...,testing_policy,stay_home_requirements,parks,school_closures,close_public_transport,"Excess mortality P-scores, ages 15–64","Excess mortality P-scores, ages 65–74","Excess mortality P-scores, ages 75–84","Excess mortality P-scores, ages 85+",cancel_public_events
0,Austria,AUT,2020-02-23,5.571,6.143,23.000,3.286,-2.714,0.000,6.143,...,1,0,23.000,0,0,-6.12,-2.40,-2.31,-8.64,0
1,Austria,AUT,2020-03-01,3.000,8.143,16.571,1.000,1.000,0.286,8.143,...,1,0,16.571,0,0,-2.48,-9.93,6.60,-6.26,0
2,Austria,AUT,2020-03-08,3.000,5.000,9.143,-0.286,1.429,-0.286,5.000,...,1,0,9.143,0,0,6.27,-0.76,2.22,-4.07,0
3,Austria,AUT,2020-03-15,-19.143,8.857,-1.286,-17.143,-5.000,3.429,8.857,...,1,0,-1.286,0,1,5.40,-3.98,2.80,-1.56,2
4,Austria,AUT,2020-03-22,-81.143,-34.429,-43.000,-67.571,-54.714,21.857,-34.429,...,1,2,-43.000,2,1,11.83,4.28,27.50,11.95,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1416,United States,USA,2020-11-15,-18.286,-8.143,-6.286,-34.714,-26.714,9.143,-8.143,...,3,1,-6.286,3,1,15.70,28.74,28.34,17.94,2
1417,United States,USA,2020-11-22,-19.714,-6.714,-7.857,-34.000,-25.714,9.143,-6.714,...,3,2,-7.857,3,1,15.52,33.48,33.50,23.49,2
1418,United States,USA,2020-11-29,-25.143,-7.571,-7.429,-38.143,-40.857,12.429,-7.571,...,3,2,-7.429,3,1,15.33,34.80,33.24,26.42,2
1419,United States,USA,2020-12-06,-19.429,-7.714,-16.286,-36.571,-26.286,9.714,-7.714,...,3,2,-16.286,3,1,15.97,37.82,38.75,29.12,2
1420,United States,USA,2020-12-13,-20.143,-7.571,-14.857,-37.429,-26.429,9.714,-7.571,...,3,2,-14.857,3,1,17.50,37.23,42.51,35.00,2