In [264]:
#based on https://www.kaggle.com/concealberti/covid-week1-weather

In [293]:
import numpy as np
import pandas as pd

In [294]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/Users/lucas_botella/Downloads/tfm-covid-forecast-lb-278ff92b9d29.json"

In [295]:
# Set your own project id here
PROJECT_ID = 'poetic-bison-304616'
from google.cloud import bigquery
client = bigquery.Client(project=PROJECT_ID)

In [296]:
table1_stations = bigquery.TableReference.from_string(
    "bigquery-public-data.noaa_gsod.stations"
)
dataframe_stations = client.list_rows(
    table1_stations,
    selected_fields=[
        bigquery.SchemaField("usaf", "STRING"), #station number, world metherorological org
        bigquery.SchemaField("wban", "STRING"), #wban number, weather bureau army
        bigquery.SchemaField("country", "STRING"),
        bigquery.SchemaField("lat", "FLOAT"),
        bigquery.SchemaField("lon", "FLOAT")
    ],
).to_dataframe()

dataframe_stations

/opt/anaconda3/lib/python3.8/site-packages/google/cloud/bigquery/client.py:444: UserWarning: Cannot create BigQuery Storage client, the dependency google-cloud-bigquery-storage is not installed.
  warnings.warn(

         usaf   wban country     lat     lon
0      007018  99999    None   0.000   0.000
1      007026  99999      AF   0.000   0.000
2      007070  99999      AF   0.000   0.000
3      008268  99999      AF  32.950  65.567
4      008307  99999      AF   0.000   0.000
...       ...    ...     ...     ...     ...
29556  A07357  00182      US  45.986 -95.992
29557  A51255  00445      US  32.464 -87.954
29558  720282  03736      US  36.018 -75.671
29559  723629  53998      US  30.069 -93.804
29560  789250  00404      MB  14.600 -61.000

[29561 rows x 5 columns]

In [261]:
dataframe_stations['STN'] = dataframe_stations['usaf'] + '-' + dataframe_stations['wban']
dataframe_stations.dtypes

usaf        object
wban        object
country     object
lat        float64
lon        float64
STN         object
dtype: object

In [6]:
table1_gsod2020 = bigquery.TableReference.from_string(
    "bigquery-public-data.noaa_gsod.gsod2020"
)

dataframe_gsod2020= client.list_rows(table1_gsod2020,
    selected_fields=[
        bigquery.SchemaField("stn", "STRING"), #station number
        bigquery.SchemaField("wban", "STRING"), #station number
        bigquery.SchemaField("date", "DATE"),
        bigquery.SchemaField("temp", "FLOAT"), #mean temp of the day
        bigquery.SchemaField("prcp", "FLOAT"), #total_precipitation
    ],).to_dataframe()

dataframe_gsod2020

            stn   wban        date  temp   prcp
0        710420  99999  2020-01-07  44.3   0.00
1        703655  26552  2020-01-28 -43.2   0.00
2        702685  27518  2020-02-06 -46.8   0.00
3        716680  99999  2020-11-02  47.8   0.78
4        714480  99999  2020-06-17  81.7   0.00
...         ...    ...         ...   ...    ...
4107416  956660  99999  2020-08-11  53.6   0.16
4107417  959660  99999  2020-08-30  49.4   0.08
4107418  999999  00458  2020-02-08  30.4  99.99
4107419  999999  00322  2020-10-17  31.3  99.99
4107420  474250  99999  2020-03-12  38.4  99.99

[4107421 rows x 5 columns]

In [7]:
table1_gsod2021 = bigquery.TableReference.from_string(
    "bigquery-public-data.noaa_gsod.gsod2021"
)

dataframe_gsod2021= client.list_rows(table1_gsod2021,
    selected_fields=[
        bigquery.SchemaField("stn", "STRING"), #station number
        bigquery.SchemaField("wban", "STRING"), #station number
        bigquery.SchemaField("date", "DATE"),
        bigquery.SchemaField("temp", "FLOAT"), #mean temp of the day
        bigquery.SchemaField("prcp", "FLOAT"), #total_precipitation
    ],).to_dataframe()

dataframe_gsod2021

/opt/anaconda3/lib/python3.8/site-packages/google/cloud/bigquery/client.py:444: UserWarning: Cannot create BigQuery Storage client, the dependency google-cloud-bigquery-storage is not installed.
  warnings.warn(

           stn   wban        date  temp  prcp
0       010014  99999  2021-01-28  26.1  0.00
1       010014  99999  2021-02-01  25.2  0.00
2       010014  99999  2021-02-09  23.9  0.00
3       010014  99999  2021-03-19  41.9  0.00
4       010020  99999  2021-01-08  25.1  0.00
...        ...    ...         ...   ...   ...
930672  945953  99999  2021-01-14  88.8  0.08
930673  943260  99999  2021-01-26  83.7  0.20
930674  943260  99999  2021-03-12  85.0  0.01
930675  945951  99999  2021-01-06  77.9  4.41
930676  956580  99999  2021-01-25  80.9  0.51

[930677 rows x 5 columns]

In [297]:
weather_data = pd.concat([dataframe_gsod2020, dataframe_gsod2021])
weather_data['STN'] = weather_data['stn'] + '-' + weather_data['wban']
weather_data

           stn   wban        date  temp  prcp           STN
0       710420  99999  2020-01-07  44.3  0.00  710420-99999
1       703655  26552  2020-01-28 -43.2  0.00  703655-26552
2       702685  27518  2020-02-06 -46.8  0.00  702685-27518
3       716680  99999  2020-11-02  47.8  0.78  716680-99999
4       714480  99999  2020-06-17  81.7  0.00  714480-99999
...        ...    ...         ...   ...   ...           ...
930672  945953  99999  2021-01-14  88.8  0.08  945953-99999
930673  943260  99999  2021-01-26  83.7  0.20  943260-99999
930674  943260  99999  2021-03-12  85.0  0.01  943260-99999
930675  945951  99999  2021-01-06  77.9  4.41  945951-99999
930676  956580  99999  2021-01-25  80.9  0.51  956580-99999

[5038098 rows x 6 columns]

In [270]:
weather_data.to_csv('weather_data.csv')

In [277]:
weather_data.dtypes

stn      object
wban     object
date     object
temp    float64
prcp    float64
STN      object
dtype: object

In [309]:
get_country_name_df.dropna()
get_country_name_df

      country     lat     lon
0        None   0.000   0.000
1          AF   0.000   0.000
5          NO  64.850  11.233
7          SV  78.217  15.583
81         FO  61.517   7.900
...       ...     ...     ...
26416      CK -12.188  96.834
26805      EU -22.333  40.333
26884      MF -12.805  45.281
28858      NN  18.046 -63.115
29548      UC  12.200 -68.967

[253 rows x 3 columns]

In [357]:
import urllib.parse
from urllib.request import urlopen
import json
def getplace(lat, lon):
    
    lat_query=urllib.parse.quote(str(lat))
    lon_query=urllib.parse.quote(str(lon))
    
    url = "https://maps.googleapis.com/maps/api/geocode/json?key=&"
    url += "latlng=%s,%s&sensor=false" % (lat_query, lon_query)
    
    try:
    
        v = urlopen(url)
        
        print(v)
        if('Error' not in v.text):
            g = v.read()
        
    except IndexError:
        
        v=''
        
    j = json.loads(v)
    
    try:
        components = j['results'][0]['address_components']
        country = town = None
        for c in components:
            if "country" in c['types']:
                country = c['long_name']
                
    except IndexError:
        country=''
        
    return country

In [358]:
get_country_name_df=dataframe_stations[['country', 'lat', 'lon']]
get_country_name_df=get_country_name_df.drop_duplicates(subset='country', keep='first')
get_country_name_df['country_name'] = get_country_name_df\
    .apply(lambda x: getplace(x['lat'], x['lon']), axis=1)
get_country_name_df

<http.client.HTTPResponse object at 0x7fbd24316d60>

AttributeError: 'HTTPResponse' object has no attribute 'text'

In [330]:
get_country_name_df

      country     lat     lon
0        None   0.000   0.000
1          AF   0.000   0.000
5          NO  64.850  11.233
7          SV  78.217  15.583
81         FO  61.517   7.900
...       ...     ...     ...
26416      CK -12.188  96.834
26805      EU -22.333  40.333
26884      MF -12.805  45.281
28858      NN  18.046 -63.115
29548      UC  12.200 -68.967

[253 rows x 3 columns]

In [283]:
weather_df_countries=pd.merge(weather_data, dataframe_stations,  how='left', left_on=['STN'], right_on = ['STN'])

In [284]:
weather_df_countries

,stn,wban_left,date,temp,prcp,STN,usaf_x,wban_right,country_x,lat_x,lon_x,usaf_y,wban,country_y,lat_y,lon_y
0,710420,99999,2020-01-07,44.3,0.00,710420-99999,710420,99999,CA,49.133,-123.000,710420,99999,CA,49.133,-123.000
1,703655,26552,2020-01-28,-43.2,0.00,703655-26552,703655,26552,US,65.698,-156.351,703655,26552,US,65.698,-156.351
2,702685,27518,2020-02-06,-46.8,0.00,702685-27518,702685,27518,US,70.467,-157.436,702685,27518,US,70.467,-157.436
3,716680,99999,2020-11-02,47.8,0.78,716680-99999,716680,99999,CA,45.920,-66.600,716680,99999,CA,45.920,-66.600
4,714480,99999,2020-06-17,81.7,0.00,714480-99999,714480,99999,CA,50.167,-96.050,714480,99999,CA,50.167,-96.050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038093,945953,99999,2021-01-14,88.8,0.08,945953-99999,945953,99999,AS,-17.581,123.828,945953,99999,AS,-17.581,123.828
5038094,943260,99999,2021-01-26,83.7,0.20,943260-99999,943260,99999,AS,-23.807,133.902,943260,99999,AS,-23.807,133.902
5038095,943260,99999,2021-03-12,85.0,0.01,943260-99999,943260,99999,AS,-23.807,133.902,943260,99999,AS,-23.807,133.902
5038096,945951,99999,2021-01-06,77.9,4.41,945951-99999,945951,99999,AS,-27.641,152.712,945951,99999,AS,-27.641,152.712
5038097,956580,99999,2021-01-25,80.9,0.51,956580-99999,956580,99999,AS,-30.483,136.883,956580,99999,AS,-30.483,136.883

In [285]:
weather_df_countries=weather_df_countries[['date','lat_x','lon_x','temp', 'prcp']]

#null values in dataframe come with value 9999.9 or 999.9, converted to null instead
weather_df_countries['temp'] = weather_df_countries['temp'].apply(lambda x: np.nan if x==9999.9 else x)
weather_df_countries['prcp'] = weather_df_countries['prcp'].apply(lambda x: np.nan if x==99.99 else x)
# convert temp into celsius
weather_df_countries['temp'] = (weather_df_countries['temp'] - 32) / 1.8
#date column to DatetimeIndex for later grouping by day
weather_df_countries['date'] = pd.to_datetime(weather_df_countries['date'])

weather_df_countries

<ipython-input-285-7f00dd22a310>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_df_countries['temp'] = weather_df_countries['temp'].apply(lambda x: np.nan if x==9999.9 else x)
<ipython-input-285-7f00dd22a310>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_df_countries['prcp'] = weather_df_countries['prcp'].apply(lambda x: np.nan if x==99.99 else x)
<ipython-input-285-7f00dd22a310>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_df_countries['temp'] = (weather_df_countries['temp'] - 32) / 1.8
<ipython-input-285-7f00dd22a310>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_df_countries['date'] = pd.to_datetime(weather_df_countries['date'])

              date   lat_x    lon_x       temp  prcp
0       2020-01-07  49.133 -123.000   6.833333  0.00
1       2020-01-28  65.698 -156.351 -41.777778  0.00
2       2020-02-06  70.467 -157.436 -43.777778  0.00
3       2020-11-02  45.920  -66.600   8.777778  0.78
4       2020-06-17  50.167  -96.050  27.611111  0.00
...            ...     ...      ...        ...   ...
5038093 2021-01-14 -17.581  123.828  31.555556  0.08
5038094 2021-01-26 -23.807  133.902  28.722222  0.20
5038095 2021-03-12 -23.807  133.902  29.444444  0.01
5038096 2021-01-06 -27.641  152.712  25.500000  4.41
5038097 2021-01-25 -30.483  136.883  27.166667  0.51

[5038098 rows x 5 columns]

In [289]:
df_covid_weather_grouped = weather_df_countries.groupby(['lat_x','lon_x', pd.Grouper(key='date', freq='W-MON')]).mean().reset_index()
df_covid_weather_grouped

        lat_x   lon_x       date       temp  prcp
0      -90.00   0.000 2020-01-06 -24.444444   0.0
1      -90.00   0.000 2020-01-13 -25.103175   0.0
2      -90.00   0.000 2020-01-20 -26.253968   0.0
3      -90.00   0.000 2020-01-27 -29.722222   0.0
4      -90.00   0.000 2020-02-03 -34.523810   0.0
...       ...     ...        ...        ...   ...
741879  83.65 -33.367 2021-03-01 -28.547619   0.0
741880  83.65 -33.367 2021-03-08 -28.531746   0.0
741881  83.65 -33.367 2021-03-15 -32.007937   0.0
741882  83.65 -33.367 2021-03-22 -27.055556   0.0
741883  83.65 -33.367 2021-03-29 -29.600000   0.0

[741884 rows x 5 columns]

In [291]:
df_get_country=df_covid_weather_grouped[['lat_x', 'lon_x']]
df_get_country=df_get_country.drop_duplicates()

In [292]:
df_get_country['country'] = df_get_country\
    .apply(lambda x: getplace(x['lat_x'], x['lat_y']), axis=1)

         lat_x    lon_x
0      -90.000    0.000
65     -89.000   -1.017
128    -89.000   89.667
192    -84.600 -115.817
257    -83.133  174.167
...        ...      ...
741559  81.167  -91.817
741624  81.600  -16.650
741689  82.500  -62.333
741754  82.518  -62.281
741819  83.650  -33.367

[12221 rows x 2 columns]

In [170]:
weather_df_countries['country'] = weather_df_countries\
    .apply(lambda x: getplace(x['lat_x'], x['lat_y']), axis=1)
weather_data[weather_data['country']=='ES'].sort_values(by=['date'])

            stn       date country       temp  prcp
2650699  786630 2020-01-01      ES  24.388889   0.0
2394858  786700 2020-01-01      ES  31.888889   0.0
164444   786500 2020-01-01      ES  30.888889   0.0
3443579  786660 2020-01-01      ES  26.500000   0.0
2174515  786550 2020-01-01      ES  29.000000   0.0
...         ...        ...     ...        ...   ...
302862   786660 2021-03-27      ES  27.111111   0.0
197736   786500 2021-03-27      ES  30.777778   0.0
197907   786630 2021-03-27      ES  28.444444   0.0
197812   786550 2021-03-27      ES  29.444444   0.0
197802   786700 2021-03-27      ES  32.777778   0.0

[2486 rows x 5 columns]

In [50]:
df_covid_weather_grouped = weather_data.groupby(['country', pd.Grouper(key='date', freq='W-MON')]).mean().reset_index()
df_covid_weather_grouped

      country       date       temp       prcp
0          AA 2020-01-06  27.361111   0.005000
1          AA 2020-01-13  27.309524   0.121429
2          AA 2020-01-20  27.222222   0.052857
3          AA 2020-01-27  26.761905   0.020000
4          AA 2020-02-03  27.595238   0.000000
...       ...        ...        ...        ...
15119      ZI 2021-03-01  19.527778  69.993000
15120      ZI 2021-03-08  20.290123  33.330000
15121      ZI 2021-03-15  23.242063  14.284286
15122      ZI 2021-03-22  22.736111   8.332500
15123      ZI 2021-03-29  20.462963  16.665000

[15124 rows x 4 columns]

In [173]:
df_covid_weather_grouped[df_covid_weather_grouped['country']=='SP']

      country       date       temp      prcp
12389      SP 2020-01-06   7.359493  2.054945
12390      SP 2020-01-13   7.391992  2.141529
12391      SP 2020-01-20   8.788918  3.651201
12392      SP 2020-01-27   8.752639  5.336570
12393      SP 2020-02-03  13.173749  2.694781
...       ...        ...        ...       ...
12449      SP 2021-03-01  11.368904  2.582685
12450      SP 2021-03-08  11.225209  3.553118
12451      SP 2021-03-15  11.056601  0.702016
12452      SP 2021-03-22  10.113575  1.382715
12453      SP 2021-03-29  12.540083  0.753607

[65 rows x 4 columns]

In [203]:
#countries do not follow ISO format, will have to obtain country from latitude and longitude.
country_list=df_covid_weather_grouped.country.unique()
for i in range(len(country_list)):
    
    if(pycountry.countries.get(alpha_2=country_list[i]) is None):
        
        print(country_list[i])

AA
AC
AJ
AV
AY
BC
BK
BP
BU
BX
CB
CE
CJ
CQ
CS
CT
DA
DR
EI
EK
EN
EU
EZ
FG
FP
FS
GJ
GK
GV
HA
HO
IC
IV
IZ
JA
KS
KT
KU
KV
LE
LG
LH
LO
MB
MI
MJ
NH
NN
NS
PC
PO
PP
PU
RI
RM
RP
RQ
SF
SP
SU
SW
TE
TI
TP
TS
TU
TX
UC
UK
UP
UV
VM
VQ
WA
WI
WQ
WZ
ZI

In [255]:
from urllib.request import urlopen
import json
def getplace(lat, lon):
    url = "https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyAK842f_OVB4ECXJcqnVl9J3u8OG4G7ARs&"
    url += "latlng=%s,%s&sensor=false" % (lat, lon)
    v = urlopen(url).read()
    j = json.loads(v)
    components = j['results'][0]['address_components']
    country = town = None
    for c in components:
        if "country" in c['types']:
            country = c['long_name']
    return country

In [ ]:
df_covid_weather_grouped['country_name']=getplace(df_covid_weather_grouped, df_covid_weather_grouped)

In [191]:
df_covid_weather_grouped[(df_covid_weather_grouped['country']=='SP') 
                         & (df_covid_weather_grouped['date'].dt.month==12)].temp.mean()

9.78162385180637

In [52]:
pip install pycountry

Collecting pycountry
  Downloading pycountry-20.7.3.tar.gz (10.1 MB)
     |████████████████████████████████| 10.1 MB 8.1 MB/s eta 0:00:01
Building wheels for collected packages: pycountry
  Building wheel for pycountry (setup.py) ... done
  Created wheel for pycountry: filename=pycountry-20.7.3-py2.py3-none-any.whl size=10746865 sha256=9625d95db0fc937c6756d205605fd400e4624d298a7db52f6302da976beff71e
  Stored in directory: /Users/lucas_botella/Library/Caches/pip/wheels/09/eb/0d/4ee773c6a4aadc2a43cb5c1d07f268f13c4cdc0eec88e7c1ef
Successfully built pycountry
Installing collected packages: pycountry
Successfully installed pycountry-20.7.3
Note: you may need to restart the kernel to use updated packages.

In [53]:
import pycountry

In [206]:
pycountry.countries.get(alpha_2='GB')

Country(alpha_2='GB', alpha_3='GBR', name='United Kingdom', numeric='826', official_name='United Kingdom of Great Britain and Northern Ireland')

In [165]:
train = pd.read_csv( '/Users/lucas_botella/Downloads/results/training_data_with_weather_info_week_1.csv')
train=train.rename(columns={"Lat": "lat", "Long": "lon"})
train

,Id,Province/State,Country/Region,lat,lon,Date,ConfirmedCases,Fatalities,day_from_jan_first,temp,min,max,stp,slp,dewp,rh,ah,wdsp,prcp,fog
0,1,NaN,Afghanistan,33.0000,65.0000,2020-01-22,0.0,0.0,22,42.6,33.6,54.9,999.9,1024.3,27.4,0.545709,0.186448,9.4,0.00,0
1,2,NaN,Afghanistan,33.0000,65.0000,2020-01-23,0.0,0.0,23,42.0,32.7,55.9,999.9,1020.8,22.8,0.461259,0.163225,14.9,99.99,1
2,3,NaN,Afghanistan,33.0000,65.0000,2020-01-24,0.0,0.0,24,40.1,36.9,43.2,999.9,1018.6,34.5,0.801794,0.325375,10.4,0.17,1
3,4,NaN,Afghanistan,33.0000,65.0000,2020-01-25,0.0,0.0,25,46.0,37.9,56.3,999.9,1018.0,37.8,0.728175,0.214562,6.1,0.57,1
4,5,NaN,Afghanistan,33.0000,65.0000,2020-01-26,0.0,0.0,26,42.8,36.1,53.1,999.9,1014.8,33.2,0.685513,0.231656,10.8,0.00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17887,26378,NaN,Zambia,-15.4167,28.2833,2020-03-20,2.0,0.0,80,70.6,62.6,81.9,999.9,NaN,62.8,0.761545,0.198068,6.0,0.00,0
17888,26379,NaN,Zambia,-15.4167,28.2833,2020-03-21,2.0,0.0,81,71.3,66.2,81.5,999.9,NaN,65.3,0.812047,0.212487,7.1,99.99,1
17889,26380,NaN,Zambia,-15.4167,28.2833,2020-03-22,3.0,0.0,82,72.1,67.1,80.4,999.9,NaN,66.7,0.829815,0.218712,5.0,99.99,1
17890,26381,NaN,Zambia,-15.4167,28.2833,2020-03-23,3.0,0.0,83,71.7,66.2,80.6,999.9,NaN,62.8,0.733343,0.192580,4.2,0.00,0
17891,26382,NaN,Zambia,-15.4167,28.2833,2020-03-24,3.0,0.0,84,72.6,60.3,84.2,999.9,NaN,62.0,0.691204,0.183033,6.4,0.00,1

In [168]:
train.columns

Index(['Id', 'Province/State', 'Country/Region', 'lat', 'lon', 'Date',
       'ConfirmedCases', 'Fatalities', 'day_from_jan_first', 'temp', 'min',
       'max', 'stp', 'slp', 'dewp', 'rh', 'ah', 'wdsp', 'prcp', 'fog'],
      dtype='object')

In [7]:
stations_df= dataframe_stations
twenty_twenty_df= dataframe_gsod2020

In [171]:
stations_df['STN'] = stations_df['usaf'] + '-' + stations_df['wban']
twenty_twenty_df['STN'] = twenty_twenty_df['stn'] + '-' + twenty_twenty_df['wban']
cols_1= list(twenty_twenty_df.columns)
cols_2= list(stations_df.columns)
weather_df = twenty_twenty_df[cols_1].join(stations_df[cols_2].set_index('STN'), on='STN',  how='left', lsuffix='_left', rsuffix='_right')

weather_df['temp'] = weather_df['temp'].apply(lambda x: np.nan if x==9999.9 else x)
weather_df['slp'] = weather_df['slp'].apply(lambda x: np.nan if x==9999.9 else x)
weather_df['dewp'] = weather_df['dewp'].apply(lambda x: np.nan if x==9999.9 else x)
weather_df['wdsp'] = weather_df['wdsp'].apply(lambda x: np.nan if x==999.9 else x)
weather_df['prcp'] = weather_df['prcp'].apply(lambda x: np.nan if x==999.9 else x)
weather_df['sndp'] = weather_df['sndp'].apply(lambda x: np.nan if x==999.9 else x)

# convert everything into celsius
weather_df['temp'] = (weather_df['temp'] - 32) / 1.8
weather_df['dewp'] = (weather_df['dewp'] - 32) / 1.8
    
# compute relative humidity as ratio between actual vapour pressure (computed from dewpoint temperature)
# and saturation vapour pressure (computed from temperature) (the constant 6.1121 cancels out)
weather_df['rh'] = (np.exp((18.678*dewp)/(257.14+dewp))/np.exp((18.678*temp)/(257.14+temp)))

# calculate actual vapour pressure (in pascals)
# then use it to compute absolute humidity from the gas law of vapour 
# (ah = mass / volume = pressure / (constant * temperature))
weather_df['ah'] = ((np.exp((18.678*dewp)/(257.14+dewp))) * 6.1121 * 100) / (461.5 * temp)


weather_df['month']= weather_df['mo']
weather_df['day']= weather_df['da']
weather_df['Date']=pd.to_datetime(weather_df[['year','month','day']])
weather_df['Date2']= weather_df['Date']
weather_df['Date2']= weather_df['Date2'].astype('str')
mo2 = weather_df['Date2'].apply(lambda x: x[5:7])
da2 = weather_df['Date2'].apply(lambda x: x[8:10])
weather_df['day_from_jan_first'] = (da2.apply(int)
                               + 31*(mo2=='02') 
                               + 60*(mo2=='03')
                               + 91*(mo2=='04')  
                              )

In [172]:
weather_df

,stn,wban_left,year,mo,da,temp,dewp,slp,wdsp,prcp,...,country,lat,lon,rh,ah,month,day,Date,Date2,day_from_jan_first
0,071200,99999,2020,12,11,8.166667,NaN,991.5,10.1,0.45,...,FR,48.538,-2.854,NaN,NaN,12,11,2020-12-11,2020-12-11,11
1,702220,26501,2020,1,7,-42.555556,NaN,1026.3,0.1,0.00,...,US,64.737,-156.934,NaN,NaN,1,7,2020-01-07,2020-01-07,7
2,714850,99999,2020,10,16,9.833333,NaN,1020.6,24.5,1.69,...,CA,50.933,-127.650,NaN,NaN,10,16,2020-10-16,2020-10-16,16
3,712110,99999,2020,4,25,12.500000,NaN,1012.3,11.5,0.20,...,CA,49.483,-123.300,NaN,NaN,4,25,2020-04-25,2020-04-25,116
4,725287,04724,2020,9,3,20.888889,NaN,1007.3,8.4,0.00,...,US,43.108,-78.938,NaN,NaN,9,3,2020-09-03,2020-09-03,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4107416,994220,99999,2020,5,14,24.722222,16.611111,1019.3,11.1,0.00,...,US,27.070,-82.450,0.603578,0.166398,5,14,2020-05-14,2020-05-14,14
4107417,994220,99999,2020,10,2,24.944444,19.222222,1014.2,7.6,0.00,...,US,27.070,-82.450,0.702901,0.194650,10,2,2020-10-02,2020-10-02,2
4107418,994220,99999,2020,11,11,24.833333,24.833333,1006.9,18.7,0.00,...,US,27.070,-82.450,1.000000,0.276302,11,11,2020-11-11,2020-11-11,11
4107419,997993,99999,2020,2,8,-4.222222,-9.055556,1008.7,14.5,0.54,...,US,43.050,-70.833,0.690754,-0.158629,2,8,2020-02-08,2020-02-08,39
4107420,997993,99999,2020,5,11,10.444444,4.166667,1010.6,4.4,0.00,...,US,43.050,-70.833,0.649719,0.170797,5,11,2020-05-11,2020-05-11,11

In [177]:
weather_df= weather_df.dropna(subset = ['lat', 'lon'])
weather_df = weather_df.reset_index(drop=True)
train= train.dropna(subset = ['lat', 'lon'])
train = train.reset_index(drop=True)
weather_df.lon= weather_df.lon.astype(int)
weather_df.lat= weather_df.lat.astype(int)
train.lon= train.lon.astype(int)
train.lat= train.lat.astype(int)

CovidWeather=train.merge(weather_df, on=['lat', 'lon', 'day_from_jan_first'], how='outer', indicator=True)
CovidWeather['temp_x'] = (CovidWeather['temp_x'] - 32) / 1.8
CovidWeather['dewp_x'] = (CovidWeather['temp_x'] - 32) / 1.8
CovidWeather

,Id,Province/State,Country/Region,lat,lon,Date_x,ConfirmedCases,Fatalities,day_from_jan_first,temp_x,...,usaf,wban_right,country,rh_y,ah_y,month,day,Date_y,Date2,_merge
0,1.0,NaN,Afghanistan,33,65,2020-01-22,0.0,0.0,22,5.888889,...,409420,99999,AF,0.210889,0.081562,10.0,22.0,2020-10-22,2020-10-22,both
1,2.0,NaN,Afghanistan,33,65,2020-01-23,0.0,0.0,23,5.555556,...,409420,99999,AF,0.440518,0.301783,10.0,23.0,2020-10-23,2020-10-23,both
2,2.0,NaN,Afghanistan,33,65,2020-01-23,0.0,0.0,23,5.555556,...,409420,99999,AF,0.757148,-0.036035,12.0,23.0,2020-12-23,2020-12-23,both
3,3.0,NaN,Afghanistan,33,65,2020-01-24,0.0,0.0,24,4.500000,...,409420,99999,AF,0.691457,-0.080483,12.0,24.0,2020-12-24,2020-12-24,both
4,3.0,NaN,Afghanistan,33,65,2020-01-24,0.0,0.0,24,4.500000,...,409420,99999,AF,0.367221,0.401653,10.0,24.0,2020-10-24,2020-10-24,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4107911,NaN,NaN,NaN,40,-93,NaN,NaN,NaN,113,NaN,...,725499,94991,US,0.495293,0.122385,4.0,22.0,2020-04-22,2020-04-22,right_only
4107912,NaN,NaN,NaN,28,-99,NaN,NaN,NaN,99,NaN,...,722526,12947,US,0.724371,0.211469,4.0,8.0,2020-04-08,2020-04-08,right_only
4107913,NaN,NaN,NaN,59,-149,NaN,NaN,NaN,47,NaN,...,994084,99999,US,0.629150,-0.623566,2.0,16.0,2020-02-16,2020-02-16,right_only
4107914,NaN,NaN,NaN,59,-149,NaN,NaN,NaN,49,NaN,...,994084,99999,US,0.988209,0.584682,2.0,18.0,2020-02-18,2020-02-18,right_only
4107915,NaN,NaN,NaN,-32,137,NaN,NaN,NaN,87,NaN,...,956660,99999,AS,0.303807,0.077948,3.0,27.0,2020-03-27,2020-03-27,right_only

In [237]:
train_countries=CovidWeather[['Country/Region', 'country']]
train_countries.drop_duplicates()
train_countries[train_countries['Country/Region']=='Denmark']

      Country/Region country
35298        Denmark      DA
35299        Denmark      DA
35300        Denmark      DA
35301        Denmark      DA
35302        Denmark      DA
...              ...     ...
35776        Denmark     NaN
35777        Denmark     NaN
35778        Denmark     NaN
35779        Denmark     NaN
35780        Denmark     NaN

[483 rows x 2 columns]

In [129]:
CovidWeather['Country/Region'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Benin', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Brazil', 'Brunei', 'Bulgaria',
       'Burkina Faso', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chile', 'China', 'Colombia',
       'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cruise Ship', 'Cuba', 'Cyprus',
       'Czechia', 'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador',
       'Egypt', 'Equatorial Guinea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Finland', 'France', 'French Guiana', 'Gabon', 'Gambia, The',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Greenland', 'Guadeloupe',
       'Guam', 'Guatemala', 'Guernsey', 'Guinea', 'Guyana', 'Holy See',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey',
       'Jordan', 'Kazakhstan', 'Kenya', 'Korea, South', 'Kosovo',
       'Kuwait', 'Kyrgyzstan', 'Latvia', 'Lebanon', 'Liberia',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malaysia', 'Maldives',
       'Malta', 'Martinique', 'Mauritania', 'Mauritius', 'Mayotte',
       'Mexico', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco',
       'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nigeria',
       'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Panama',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Republic of the Congo', 'Reunion',
       'Romania', 'Russia', 'Rwanda', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'San Marino', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Singapore', 'Slovakia',
       'Slovenia', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Taiwan*',
       'Tanzania', 'Thailand', 'The Bahamas', 'The Gambia', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'US', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'Uruguay', 'Uzbekistan',
       'Venezuela', 'Vietnam', 'Zambia'], dtype=object)

In [201]:
df_covid_weather_grouped = CovidWeather.groupby(['country', pd.Grouper(key='Date_y', freq='W-MON')]).mean().reset_index()

In [202]:
df_covid_weather_grouped

,country,Date_y,Id,lat,lon,ConfirmedCases,Fatalities,day_from_jan_first,temp_x,min,...,temp_y,dewp_y,slp_y,wdsp_y,prcp_y,sndp,rh_y,ah_y,month,day
0,AA,2020-01-06,NaN,12.00,-70.00,NaN,NaN,3.5,NaN,NaN,...,27.361111,22.129630,1014.366667,11.033333,0.005000,NaN,0.730058,0.212896,1.000000,3.500000
1,AA,2020-01-13,NaN,12.00,-70.00,NaN,NaN,10.0,NaN,NaN,...,27.309524,22.174603,1014.800000,16.428571,0.121429,NaN,0.734130,0.213876,1.000000,10.000000
2,AA,2020-01-20,NaN,12.00,-70.00,NaN,NaN,17.0,NaN,NaN,...,27.222222,22.420635,1013.542857,18.228571,0.052857,NaN,0.748419,0.217668,1.000000,17.000000
3,AA,2020-01-27,15348.5,12.00,-70.00,0.0,0.0,24.0,26.694444,74.750000,...,26.761905,22.634921,1012.457143,9.157143,0.020000,NaN,0.779462,0.224365,1.000000,24.000000
4,AA,2020-02-03,15355.0,12.00,-70.00,0.0,0.0,31.0,27.595238,77.342857,...,27.595238,22.857143,1013.557143,13.942857,0.000000,NaN,0.751829,0.220533,1.428571,17.714286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12311,ZI,2020-09-14,NaN,-17.00,31.00,NaN,NaN,10.8,NaN,NaN,...,19.655556,2.988889,NaN,7.380000,0.000000,NaN,0.354061,0.090542,9.000000,10.800000
12312,ZI,2020-09-21,NaN,-17.00,31.00,NaN,NaN,18.0,NaN,NaN,...,23.379630,5.342593,NaN,8.233333,0.000000,NaN,0.333017,0.088962,9.000000,18.000000
12313,ZI,2020-09-28,NaN,-17.00,31.00,NaN,NaN,22.0,NaN,NaN,...,17.666667,8.277778,NaN,10.200000,0.000000,NaN,0.538892,0.134231,9.000000,22.000000
12314,ZI,2020-11-02,NaN,-17.75,30.25,NaN,NaN,29.0,NaN,NaN,...,26.694444,7.250000,NaN,8.775000,0.000000,NaN,0.297114,0.084925,10.000000,29.000000
12315,ZI,2020-11-30,NaN,-17.00,31.00,NaN,NaN,29.0,NaN,NaN,...,21.444444,16.222222,NaN,6.600000,33.330000,NaN,0.722813,0.187908,11.000000,29.000000

In [248]:
df_covid_weather_grouped[(df_covid_weather_grouped['country']=='DA') & (df_covid_weather_grouped['month']==12)].temp_x.mean()

6.095238095238095

In [155]:
CovidWeather[CovidWeather['Date_y'].dt.month==2]['Date_y'].dt.month.unique()

array([2])